<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gram SCS</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="d-flex flex-column min-vh-100">
<div class="flex-grow-1">
  {% include "layouts/nav.html" %}
  <div class="container mt-4">
    {% block content %}{% endblock %}
  </div>
</div>
{% include "partials/footer.html" %}
  <!-- Bootstrap JS (ONLY HERE) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
