<div class="row footer-row">
  <div class="col-6 col-md-3 col-lg-2 mb-4 mb-lg-0">
    <h5 class="text-uppercase mb-3 footer-heading">Quick Links</h5>
    <ul class="list-unstyled footer-links">
      <li class="mb-2"><a href="{{ url_for('main.index') }}">Home</a></li>
      <li class="mb-2"><a href="{{ url_for('main.about') }}">About Us</a></li>
      <li class="mb-2"><a href="{{ url_for('pages.show_page', page='network') }}">Network</a></li>
      <li class="mb-2"><a href="{{ url_for('pages.show_page', page='trade-partners') }}">Trade Partners</a></li>
      <li class="mb-2"><a href="{{ url_for('main.contact') }}">Contact Us</a></li>
    </ul>
  </div>
  
  <div class="col-6 col-md-3 col-lg-2 mb-4 mb-lg-0">
    <h5 class="text-uppercase mb-3 footer-heading">Transportation</h5>
    <ul class="list-unstyled footer-links">
      <li class="mb-2"><a href="{{ url_for('pages.show_page', page='warehousing') }}">Warehousing</a></li>
      <li class="mb-2"><a href="{{ url_for('pages.show_page', page='transportation') }}">Transportation</a></li>
      <li class="mb-2"><a href="{{ url_for('pages.show_page', page='rail-freight') }}">Rail Freight</a></li>
      <li class="mb-2"><a href="{{ url_for('pages.show_page', page='ocean-freight') }}">Ocean Freight</a></li>
      <li class="mb-2"><a href="{{ url_for('pages.show_page', page='air-freight') }}">Air Freight</a></li>
    </ul>
  </div>
  
  <div class="col-6 col-md-3 col-lg-2 mb-4 mb-lg-0">
    <h5 class="text-uppercase mb-3 footer-heading">Services</h5>
    <ul class="list-unstyled footer-links">
      <li class="mb-2"><a href="{{ url_for('pages.show_page', page='export-services') }}">Export Services</a></li>
      <li class="mb-2"><a href="{{ url_for('pages.show_page', page='custom-clearance-activity') }}">Custom Clearance</a></li>
      <li class="mb-2"><a href="{{ url_for('pages.show_page', page='post-shipment-services') }}">Post Shipment</a></li>
      <li class="mb-2"><a href="{{ url_for('pages.show_page', page='documentation') }}">Documentation</a></li>
      <li class="mb-2"><a href="{{ url_for('pages.show_page', page='product-installation') }}">Product Installation</a></li>
    </ul>
  </div>
  
  <div class="col-6 col-md-3 col-lg-3 mb-4 mb-lg-0">
    <h5 class="text-uppercase mb-3 footer-heading">Corporate Office</h5>
    <address class="footer-address mb-4">
      <div class="d-flex mb-2">
        <span class="fa fa-map-marker text-primary-color me-2 mt-1"></span>
        <span>Millenium Business Center<br>Malviya Nagar, New Delhi</span>
      </div>
      <div class="d-flex mb-2">
        <span class="fa fa-phone text-primary-color me-2 mt-1"></span>
        <span>+011-40199854</span>
      </div>
      <div class="d-flex">
        <span class="fa fa-envelope text-primary-color me-2 mt-1"></span>
        <a href="mailto:contact@gramscs.com">contact@gramscs.com</a>
      </div>
    </address>
  </div>
    <div class="col-12 col-lg-3">
    <h5 class="text-uppercase mb-3 footer-heading">International Office</h5>
    <address class="footer-address mb-3">
      <div class="d-flex mb-2">
        <span class="fa fa-map-marker text-primary-color me-2 mt-1"></span>
        <span>123, Main Street<br>Springfield, State 12345<br>India</span>
      </div>
      <div class="d-flex mb-2">
        <span class="fa fa-phone text-primary-color me-2 mt-1"></span>
        <span>+91 12345 67890</span>
      </div>      <div class="d-flex mb-3">
        <span class="fa fa-envelope text-primary-color me-2 mt-1"></span>
        <a href="mailto:info@gramscs.com">info@gramscs.com</a>
      </div>
    </address>
  </div>
</div>
